@page
@model MATruck.UI.Pages.Admin.IndexModel
@{
}

<div class="text-center">
    <h1 class="display-4">Welcome JBP Application 2020 - Admin Panel</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>




